---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "index");
const page_data = {
  ...about.data,
  content: about.body,
};
const { Content } = await about.render();
---

<Base
  entry_keys={["about", "index"]}
>
  <section class="py-16">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-left mb-10">
        <h1 class="text-3xl font-bold mb-6">About our company</h1>
        <div class="text-lg leading-relaxed">
Tokai was founded by Austin Hua in 2022 and has gone through several phases of exploration, release, and redefinition. Over time, it became clear that the most compelling direction was also the most novel: integrating real-time glucose data with language model conversations.

The Tokai App is our current focus—a tool that brings physiological context into the world of AI interaction. By layering glucose monitoring into LLM-based dialogue, Tokai opens up new possibilities in self-awareness, emotional regulation, and intelligent health reflection. It’s not about replacing doctors or coaches, but about enabling more grounded, body-aware conversations.

Our company is registered in Virginia and plans to operate in Taiwan, where the intersection of healthcare and innovation creates fertile ground for what’s next.

Tokai isn’t just about AI, or health—it’s about building a deeper interface between the mind and the body.
        </div>
      </div>
      <div class="mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Content />
    </div>
  </section>
</Base>
